@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Quicksand&family=Ubuntu&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

.threeDbutton{
    --back-color: hsl(278, 76%, 50%);
    --back-color-dark: hsl(278, 70%, 34%);

    display: inline-block;
    color: #fff;
    text-decoration: none;
    outline: none;
    border: none;
    padding: 10px 20px;
    margin: 0 20px;
    background-color: var(--back-color);
    box-shadow: 6px 6px 0 var(--back-color-dark);
    transition: all 0.1s ease;
    cursor: pointer;
}

.threeDbutton:active{
    transform: translate(2px, 2px);
    box-shadow: 4px 4px 0 var(--back-color-dark);
}

.button2{
    --back-color: hsl(20, 76%, 50%);
    --back-color-dark: hsl(20, 70%, 34%);
}